body {
    margin: 0;
    /*color: #82a5ca;*/
    color: #6282B7;
    text-align: center;
    font-family: "Happy Monkey", cursive;
}

header {
    background-color: #F6C4B0;
    padding: 20px;
}

#hero {
    background-image: url("images/aguascalientes.jpg");
    background-size: cover;
    height: 500px;
    padding: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 60px;
    color: white;
    /*background-color: white;*/
    padding: 10px 20px;
    text-shadow: 0px 0px 3px black;
}

#para {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 25px;
    text-shadow: 0px 0px 6px black;
}

#activities {
    display: flex;
    flex-direction: column;
}

#activities_title {
    background-color: #f6c4b0;
    padding: 20px 0px;
}

#activities_title h2 {
    font-size: 30px;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    background-color: #6282b7;
    padding: 50px 0px;
}

.card {
    margin: 0px 5px;
    color: #f6c4b0;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    width: 150px;
    border: 8px solid #f6c4b0; 
    border-radius: 50%;
}

.card h3 {
    font-size: 25px;
}

.card p {
    font-size: 20px;
}

#guide-card {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    background-color: #101734;
    border-bottom: 8px solid #bf7e3a;
}

.avatar {
    width: 200px;
}

footer {
    width: 33%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #6282B7;
}